<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<footer class="container-fluid site-footer d-flex middle">
  <div class="container">
    <div class="row">
      <div class="reserved">
        <p>Fast Notas 2017 - todo os direitos reservados</p>
      </div>
      <div class="links">
        <p>facebook</p>
        <p>linkedin</p>
        <p>(11) 2345-6789</p>
      </div>
    </div>
  </div>
</footer>
