body {
  background-color: #f5f5f5;
}

.container-fluid {
  max-width: 1920px;
}

section {
  background-color: #fff;
  margin-top: 30px;
  padding: 50px;
  padding-top: 50px;
  padding-left: 50px!important;
  padding-right: 50px!important;
}

// Typo

* {
  font-family: 'Muli', sans-serif;
}

h1{
  font-size: 52px;
}
h2{
  font-size: 28px;
  margin-bottom: 15px!important;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 16px;
}
p {
  font-size: 18px;
}
// Colors

$green: #1abc9c;
$dark-green: #0c8f75;
$orange: #e74c3c;
$black: #1f2b35;
$dark-gray: #5f5f5f;
$gray: #919191;
$light-gray: #b1b5bc;
$mystic: #E8EDF2;
$dark-blue: #1f2b35;


// Buttons

.button {
  border-color: transparent;
  border-radius: 8rem;
  height: 40px;
  padding: 15px 0;
  text-align: center;
  width: 270px;
  line-height: 1;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    text-decoration: none!important;
  }
}

.default-primary {
  background-color: $green;      
  &:hover {
    background-color: $dark-green;
    color: #fff;
  }
}

.default-secondary {
  background-color: transparent;
  border: 1px solid $green;
  color: $green!important;
  &:hover {
    background-color: $green!important;
    color: #fff!important;
  }
}

.disable {
  background-color: $gray;
  color: $dark-gray;
}

// Flex Helpers

.d-flex {
  display: flex;
  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.middle {
  align-items: center;
}