#header-container {  
  height: 115px;
  transition: all 0.5s linear;
  #brand {
    width: 200px;
    transition: all 0.1s linear;
  }

  .navbar-collapse {
    margin-top: 30px;
    transition: all 0.5s linear;
    li {
      a {
        color: $black;
        &:hover {
          background-color: transparent;
          color: $green;
        }
      }
    }
    a.button {
      line-height: 10px;
      width: 170px;
      margin-top: 5px;      
    }
  }

  .icon-bar {
    background-color: $green;
  }

  @media(max-width: 768px){
    background-color: $mystic; 
    .navbar-nav {
      margin: 0;
      width: 100%;
      padding-bottom: 20px;
      li {
        a { 
          color: $green;
        }
      }
    }
    #navbar {
      a.button {
        line-height: 18px;
      }
    }
    .navbar-collapse {
      box-shadow: none;
      background-color: $mystic;
      margin-top: 65px!important;      
    }
  }
}

.header-bg {
  background-color: $mystic;
  height: 80px!important;
  .navbar-collapse {
    margin-top: 15px!important;
  }

  #brand {
    width: 150px!important;
  }
}